/*******************************************************
 * ROFI Catppuccin Mocha colors
 * bg=#1e1e2e, fg=#cdd6f4, mauve=#cba6f7, red=#f38ba8
 *******************************************************/
* {
    selected-normal-foreground:  rgba ( 30, 30, 46, 100 % );
    foreground:                  rgba ( 205, 214, 244, 100 % );
    normal-foreground:           @foreground;
    alternate-normal-background: rgba ( 49, 50, 68, 100 % );
    red:                         rgba ( 243, 139, 168, 100 % );
    selected-urgent-foreground:  rgba ( 205, 214, 244, 100 % );
    blue:                        rgba ( 137, 180, 250, 100 % );
    urgent-foreground:           rgba ( 243, 139, 168, 100 % );
    alternate-urgent-background: rgba ( 49, 50, 68, 90 % );
    active-foreground:           rgba ( 166, 227, 161, 100 % );
    lightbg:                     rgba ( 69, 71, 90, 100 % );
    selected-active-foreground:  rgba ( 205, 214, 244, 100 % );
    alternate-active-background: rgba ( 49, 50, 68, 88 % );
    background:                  rgba ( 30, 30, 46, 100 % );
    alternate-normal-foreground: @foreground;
    normal-background:           rgba ( 30, 30, 46, 100 % );
    lightfg:                     rgba ( 88, 91, 112, 100 % );
    selected-normal-background:  rgba ( 203, 166, 247, 100 % );
    border-color:                rgba ( 69, 71, 90, 100 % );
    spacing:                     2;
    separatorcolor:              rgba ( 69, 71, 90, 100 % );
    urgent-background:           rgba ( 243, 139, 168, 15 % );
    selected-urgent-background:  rgba ( 210, 105, 130, 100 % );
    alternate-urgent-foreground: @urgent-foreground;
    background-color:            rgba ( 0, 0, 0, 0 % );
    alternate-active-foreground: @active-foreground;
    active-background:           rgba ( 166, 227, 161, 17 % );
    selected-active-background:  rgba ( 166, 227, 161, 100 % );
}
