/*******************************************************
 * ROFI One Dark colors
 * bg=#282c34, fg=#abb2bf, blue=#61afef, red=#e06c75
 *******************************************************/
* {
    selected-normal-foreground:  rgba ( 40, 44, 52, 100 % );
    foreground:                  rgba ( 171, 178, 191, 100 % );
    normal-foreground:           @foreground;
    alternate-normal-background: rgba ( 44, 49, 58, 100 % );
    red:                         rgba ( 224, 108, 117, 100 % );
    selected-urgent-foreground:  rgba ( 171, 178, 191, 100 % );
    blue:                        rgba ( 97, 175, 239, 100 % );
    urgent-foreground:           rgba ( 224, 108, 117, 100 % );
    alternate-urgent-background: rgba ( 44, 49, 58, 90 % );
    active-foreground:           rgba ( 152, 195, 121, 100 % );
    lightbg:                     rgba ( 54, 60, 70, 100 % );
    selected-active-foreground:  rgba ( 171, 178, 191, 100 % );
    alternate-active-background: rgba ( 44, 49, 58, 88 % );
    background:                  rgba ( 40, 44, 52, 100 % );
    alternate-normal-foreground: @foreground;
    normal-background:           rgba ( 40, 44, 52, 100 % );
    lightfg:                     rgba ( 92, 99, 112, 100 % );
    selected-normal-background:  rgba ( 97, 175, 239, 100 % );
    border-color:                rgba ( 54, 60, 70, 100 % );
    spacing:                     2;
    separatorcolor:              rgba ( 54, 60, 70, 100 % );
    urgent-background:           rgba ( 224, 108, 117, 15 % );
    selected-urgent-background:  rgba ( 170, 80, 85, 100 % );
    alternate-urgent-foreground: @urgent-foreground;
    background-color:            rgba ( 0, 0, 0, 0 % );
    alternate-active-foreground: @active-foreground;
    active-background:           rgba ( 152, 195, 121, 17 % );
    selected-active-background:  rgba ( 152, 195, 121, 100 % );
}
