[Unit]
Description=Add all SSH keys to agent from KWallet (only if not already loaded)
After=ssh-agent.service
After=plasma-kde-wallet.service kwallet.service

[Service]
Type=oneshot
ExecStart=/home/johnm/.config/systemd/user/scripts/ssh-add-keys.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target
